# Build results
[Bb]in/
[Oo]bj/

# Visual Studio
.vs/
*.user
*.rsuser
*.suo
*.userosscache
*.sln.docstates

# Rider
.idea/

# NuGet
*.nupkg
*.snupkg
packages/
!packages/**/*.targets
!packages/**/*.props

# OS files
Thumbs.db
Desktop.ini
