<div class="board-header">
  <%= link_to("New subalpha object", new_subalpha_path(project_id: @project.id), :class => 'semat-button') %>
</div>

<div class="alphaboards" style="border: none; width: 100%;">
  <% @alphas.each do |alpha| %>
    <%= render partial: 'subalpha', locals: {alpha: alpha, project_id: @project.id} %>
  <% end %>
</div>

<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'alphas', :plugin => 'semat_essence' %>
  <%= stylesheet_link_tag 'alphacards.css', :plugin => 'semat_essence' %>
<% end %>
