<div id="completion-criterions" style="margin-top: 15px">
  <div class="completion-criterions__name">Completion Criterions</div>
  <% roots.each do |alpha_node| %>
    <%= render partial: "dependent_selector", locals: { node: alpha_node } %>
  <% end %>
</div>
