<h2>Alphas configuration for a project.</h2>

<div>
  <h3>Create core alpha</h3>

  <ul>
    <li>Stakeholders (<%= link_to "Create", create_base_alphas_path(project_id: @project.id, definitions: "http://127.0.0.1:8000/stakeholders-alpha.json") %>)</li>
  </ul>
</div>

<div>
  <h3>Delete core alpha</h3>

  <ul>
    <li>Stakeholders ()</li>
  </ul>
</div>